<!DOCTYPE html>
<html>    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Erreur</title>
    </head>
    <body>
        <h1 style="color: #1C74D9">Une erreur est survenue</h1>
        
        <hr>

        <div style="font-size: 18px;">
            <a href="{{ path('greta_core_homepage') }}">Retourner à l'accueil</a>
        </div>
    </body>
</html>