.calendrier{
    position: relative;
    margin-bottom: 50px;
    //height: 600px;
    
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.calendrier-ligne{
    //height: 11.11111111111111%;
    border-left: 1px solid #CCCCCC;
}

.calendrier-ligne a{
    color: black;
}

.calendrier-ligne a b{
    color: #2AA9E8;
}

.calendrier-ligne:first-child{
    border-top: 1px solid #CCCCCC;
}

.calendrier-semaine{
    display: inline-block;
    width: 16.66666666666666%;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    height: 100%;
    padding: 4px;
    
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.calendrier-semaine:hover{
    //background-color: #2AA9E8;
    //color: white;
    
    -moz-box-shadow: inset 0px 0px 7px 0px #2AA9E8;
    -webkit-box-shadow: inset 0px 0px 7px 0x #2AA9E8;
    -o-box-shadow: inset 0px 0px 7x 0x #2AA9E8;
    box-shadow: inset 0px 0px 7px 0px #2AA9E8;
}

.calendrier-semaine:not(:last-child){
    border-right: 1px solid #CCCCCC;
}

.calendrier-semaine-content{
    //position: absolute;
    padding: 8px;
    text-align: center;
}

.fleche{
    color: #7CD7C1;
    margin-left: 12px;
    margin-right: 12px;
}

.fleche:hover{
    color: #95EFD9;
}

.semaine_traitement_true{
    background-color: #D2FFCA;
}

.semaine_traitement_false{
    background-color: #DAEBFF;
}

.legende{
    margin-right: 12px;
    margin-top: 8px;
    font-size: 14px;
    color: #4E4E4E;
}