{% extends 'ExiaCoreBundle::layout.html.twig' %}

{% block body %}
    
<h1 class="page-header">{% trans %}ajout_formation.titre{% endtrans %}</h1>



{% include 'ExiaCoreBundle:Core:form-competence.html.twig' %}

{% endblock %}

{% block appendablejs %}

<script type="text/javascript">
</script>

{% endblock %}