{% extends 'ExiaCoreBundle::layout.html.twig' %}

{% block body %}
    
<h1 class="page-header">{% trans %}editer_competence.titre{% endtrans %}</h1>

<div class="fil_ariane">{% trans %}fil_ariane.formations{% endtrans %} > 
    <a href="{{ path('exia_core_competences') }}">{% trans %}fil_ariane.liste_competence{% endtrans %}</a> 
     
    <a href="">{% trans %}fil_ariane.editer_competence{% endtrans %}</a>
</div>

{% include 'ExiaCoreBundle:Core:form-editer-competence.html.twig' %}

{% endblock %}

