{% extends 'ExiaCoreBundle::layout.html.twig' %}

{% block body %}
    
<h1 class="page-header">{% trans %}editer_projet.titre{% endtrans %}</h1>

<div class="fil_ariane">{% trans %}fil_ariane.projet{% endtrans %} > 
    <a href="{{ path('exia_core_projet') }}">{% trans %}fil_ariane.liste_projet{% endtrans %}</a> 
     
    <a href="">{% trans %}fil_ariane.editer_projet{% endtrans %}</a>
</div>

{% include 'ExiaCoreBundle:Core:form-editer-projet.html.twig' %}

{% endblock %}

