{% extends 'ExiaCoreBundle::layout.html.twig' %}

{% block body %}
    
<h1 class="page-header">{% trans %}editer_profil.titre{% endtrans %}</h1>

<div class="fil_ariane">{% trans %}fil_ariane.configuration{% endtrans %} > 
    <a href="{{ path('exia_core_profil') }}">{% trans %}fil_ariane.liste_experience{% endtrans %}</a> >
     
    <a href="">{% trans %}fil_ariane.editer_profil{% endtrans %}</a>
</div>

{% include 'ExiaCoreBundle:Core:form-editer-profil.html.twig' %}

{% endblock %}

