{% extends 'ExiaCoreBundle::layout.html.twig' %}

{% block body %}
    
<h1 class="page-header">{% trans %}editer_formation.titre{% endtrans %}</h1>

<div class="fil_ariane">{% trans %}fil_ariane.formations{% endtrans %} > 
    <a href="{{ path('exia_core_formations') }}">{% trans %}fil_ariane.liste_formations{% endtrans %}</a> 
     
    <a href="">{% trans %}fil_ariane.editer_formation{% endtrans %}</a>
</div>

{% include 'ExiaCoreBundle:Core:form-editer-formation.html.twig' %}

{% endblock %}

