{% extends "ExiaCoreBundle::layout.html.twig" %}

{% block title %}
    
    {% trans %}accueil.titre{% endtrans %} - {{ parent() }}
    
{% endblock %}

{% block body %}
    
    <div class="row">
        
        <div class="pageheader">
            
            <div class="pagetitle">
                {#<h5>Accueil</h5>#}
                <h1>{% trans %}accueil.bienvenue{% endtrans %}</h1>
            </div>
        </div>
            
    </div>


    
{% endblock %}

{% block appendablejs %}

<script type="text/javascript">
    
    $('.carre-accueil').click(function(){
        window.location = $(this).attr('data-lien');
    });
    
</script>

{% endblock %}