{% extends "ExiaCoreBundle::layout.html.twig" %}

{% block title %}
    
    {% trans %}accueil.titre{% endtrans %} - {{ parent() }}
    
{% endblock %}

{% block body %}
    
    
    <h1 class="page-header">{% trans %}accueil.bienvenue{% endtrans %}
    </h1>
    <h1 >Site en cours de maintenance</h1>
     
    


    
{% endblock %}

{% block appendablejs %}

<script type="text/javascript">
    
    $('.carre-accueil').click(function(){
        window.location = $(this).attr('data-lien');
    });
    
</script>

{% endblock %}